.env
.venv
.jaseci_logs
*session
*jir
*.jir
ner.json
modelout*
train*
logoutput
modeloutput
dialogue_intent_model
/dist
/tmp
/out-tsc
/bazel-out
/node_modules
npm-debug.log
yarn-error.log
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
.env
.next
next-env.d.ts
yarn.lock
public
.DS_Store
Thumbs.db
.angular
.vscode
.editorconfig
.eslintignore
.gitignore
angular.json
manifest.json
ngsw-config.json
package.json
README.md
tsconfig.app.json
tsconfig.json
tsconfig.spec.json
next-env.d.ts
node_modules
yarn.lock
.env