@tailwind base;
@tailwind components;
@tailwind utilities;

:root, body {
  padding: 0;
  margin: 0;
  background-color: rgb(17, 18, 19);
}

@media (background-color) {
  :root {
    padding: 0;
    margin: 0;
  }
}

main {
  width: 100%;
  height: 100vh;
}

video {
  width: 100%;
  height: 100%;
}

div {
  padding: .25rem;
  margin: .25rem;
}

h1 {
  // margin: .25em;
  padding: .25em;
}

h2 {
  padding: .25em;
}
